body{
     overflow-x: hidden;   
}

header{
    z-index:1000;
}


.logo-image{
    height:40px;
}

#title{
    font-size: 31px; 
    text-decoration:none;
    color:#fff;
    float: left;
    cursor: pointer;
}

#scroll-wrapper {
position: absolute;
bottom: 0;
width: 100%;
text-align: right;
font-size: 25px;
    z-index:1;
    padding-right: 1vw;
box-sizing: border-box;
}

.loading #scroll-v{
  display:none;   
}

.loaded #scroll-v {
color: #fff;
text-decoration: none;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

#main-menu{
    font-size:20px;
    float: right;
    display: inline-flex;
    height: 100%;
    margin: 11px 0 10px 10px;
    list-style-type: none;
    font-size: 20px;
    cursor:pointer;
}

#main-menu span{
    color:#fff;
    text-decoration:none;
    margin-left:40px;
}

.anchor-effect span::before,
.anchor-effect span::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.anchor-effect span::before {
	margin-right: 10px;
	content: '-';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.anchor-effect span::after {
	margin-left: 10px;
	content: '-';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.anchor-effect span:hover::before,
.anchor-effect span:hover::after,
.anchor-effect span:focus::before,
.anchor-effect span:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}


.modal{
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    overflow-y: auto;
}

#close-modal {
 display:none;
}

.modal #modal-logo{
    position:absolute;
    left:5%;
    top:5%;
}

.modal .modal-text {
    width: 100%;
    height: 100%;
    padding: 10%;
    box-sizing: border-box;
    color: #fff;
}

.modal .modal-title {
    width: 100%;
    text-align: center;
    font-size: 40px;
}

.modal .modal-text-body {
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
}

.contact-link-modal a{
    text-decoration: none;
    color: white;   
}

.loading header{
     display:none;   
}

.loaded header{
     display: block;   
}

.loading #loading-name{
     display: block;
}

.loaded #loading-name{
     display: none;   
}

#loading-name {
background-image: -webkit-linear-gradient(white 50%, #BD2842 50%);
background-repeat: repeat;
background-position: 0 0;
background-size: 50px 50px;
-webkit-text-fill-color: transparent;
-webkit-background-clip: text;
-webkit-animation: stripes 2s linear infinite;
animation: stripes 2s linear infinite;
position: absolute;
top: 50%;
width: 100%;
height:33%;
font-size: 15vw;
text-align: center;
font-family: 'Sacramento', cursive;
-ms-transform: rotate(7deg);
-webkit-transform: rotate(7deg);
transform:translateY(-50%);
}


@-webkit-keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

@keyframes stripes {
  100% {
    background-position: 0 -50px;
  }
}

/* Other stuff 
body {
  overflow: hidden;
  background: #000;
  color: #FFF;
}

.box-with-text {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  font: bold 26vmax/.8 Open Sans, Impact;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}*/


main {
margin-bottom: 10vh;
}

@media (max-width: 780px) {
     #main-menu{
          display:block;
     }
}