header {
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
}

header.background{
    background: rgb(255, 255, 255);
    border-bottom: 8px solid rgb(255, 255, 255);
    color:#000 !important;
}

header.background #main-menu li a{
    color:#000;
}

header.no-background{
     background: transparent;
     color:#fff !important;
}

header.no-background #main-menu li a{
        color:#fff;
}

.nav-up {
    top: -40px;
}
