header {
    height: 40px;
    position: fixed;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
}

header.background{
    background: rgb(199, 92, 92);
    border-bottom: 8px solid rgb(199, 92, 92);
    color:#000 !important;
}

header.no-background{
     background: transparent;
}

.nav-up {
    top: -40px;
}
